*{
padding: auto;
box-sizing: border-box ;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
background: white;

}
body{
    width: 100%;
}
nav{
    border: 1px solid grey;
    padding: 20px;
    background: rgb(14, 202, 223);
}
nav a{
    color: white;
    display: inline;
    padding: 8px;
    margin-left: 40px;
    text-decoration: none;
    background: transparent;
}
.logo{
    width: 100%;
}
.logo img{
    width: 20%;
    margin-left: 40%;
}
.banner video{
    width: 100%;
    height: 70%;

}
.team p{
    font-size: medium;
    padding: auto;
margin-left: 10px;
}
.members h3, .members h4{
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
.members p{
    padding: auto;
    width: 80%;
    margin-left: 80px;
}
.image1 img{
    width: 100%;
    height: 400px;

}
.about h3, .about p{
    background:aqua;
    margin-bottom: auto;
    text-align: center;
    margin-top: auto;
}
.vision img{
    width:100%;
    height: 600px;
}
h1{
    text-align: center;

}
.hom{
    margin-top:0px;
}
.hom h3,.hom p{
    background: gray;
    color: bisque;
    text-align: center;
    padding-top: 5px;
}
.banner video{
    margin-top: 30px;
    margin-bottom: 20px;
}
h1{
    text-align: center;
    margin-top: 10px;
}
.intro h2,.intro p{
    padding:5px;

}
.sani img{
    width: 50%;
    height: 80%;
}
footer p , footer h4 {
     background: gray;
    color: black;
    text-align: center;
}
.chall{
    background: rgb(221, 213, 208);
}
@media(max-width:555px){
    nav a {
    margin: 0;
    padding: 4px;
}

}
